DATABASE_URL=
DATABASE_URL_2=
DATABASE_URL_3=


PORT=4400
secretKey=
TZ=
secretKeyLogin=

urlReservasi=
urlPHIS=

NODE_ENV=

urlAuthSatuSehatDev=
urlBaseSatuSehatDev=
clientIdSatuSehatDev=
clientSecretSatuSehatDev=
OrganizationIDDev=

urlAuthSatuSehat=
urlBaseSatuSehat=
clientIdSatuSehat=
clientSecretSatuSehat=
OrganizationID=

#List Definne Appointment
rangeAntrianRJ =
kelas_ruang3=
SPM=